@charset "UTF-8";
body
{
height: 400px;
width: 100%;
background-color: rgb(81, 82, 79);
color: red;
font-size: 12pt;
font-family:Arial, Helvetica, sans-serif;
text-align: center;
text-decoration: none;
}

h1
{   
background-image: linear-gradient(90deg, white, rgb(81, 82, 79) );
background-color: aqua;
color: black;
font-size: 30pt;
font-family:Arial;
text-align: center;
}

img{
    width: 500px;
    height: auto;
}

h2
{
color: white;
font-size: 20pt;
font-family:Arial;
text-align: center;
}

a
{
color: white;
font-size: 20pt;
font-family:Arial;
text-decoration: none;
}


p
{
    color: white;
    font-size: 16pt;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center; 
}
.p1{
    font-size: 16px;
    font: arial, sans-serif;
    color: red;
}
.p2
{
    font-size: 20px;
    font: verdana, arial, sans-serif;
    color:blue;
    text-align: center;
}
